<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
       Please,upload a File
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">
      Picture
    </ion-label>
    <input type="file" (change)="onFileChange($event)" accept="image/jpeg, image/png"/>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">
      Title
    </ion-label>
    <ion-input type="text" [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">
      Description
    </ion-label>
    <ion-input type="text" [(ngModel)]="description"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">
      Author
    </ion-label>
    <ion-input type="text" [(ngModel)]="author"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="uploadFile()">Upload File</ion-button>

  
</ion-content>
